<div class="large-3 small-6 columns">
    <img src="http://placehold.it/500x500&text=Item for sale">
    <div class="panel">
      <h5>{{ name }}</h5>
        <div class="show-price-button js-show-price">Show Price</div>
      <h6 class="subheader hidden price js-show-price">${{ price }}</h6>
    </div>
  </div>