  <div class="large-12 small-12 columns">
    <div class="panel">
      <div class="large-6 small-6 columns">
        <h3>Demo Collection View</h3>
        <h5 class="subheader">Using Backbone Views</h5>
      </div>
      <a id="fetch-button" href="#" class="button">
        Show sales items
      </a>
      <a id="about-button" href="#" class="button">
        Show About
      </a>
    </div>
  </div>